@using ItechArt.Survey.WebApp.ViewModels.SurveyViewModels

@model List<SurveyViewModel>

@section Style{
    <link rel="stylesheet" href="~/css/ArrowRotate.css">
}
@section Script
{
    <script src="~/js/Survey.js"></script>
}

<div class="text-center display-4">
    Surveys
</div>
<div class="container">
    <b>Search By : </b>
    <input id="SearchBtn" placeholder="Search"/>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" onclick="showPopup()">
    Creating a survey
</button>
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Creating your own survey</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hidePopup()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col"><div class="form-group mb-5">
                            <label for="InputSurveyTitle">Survey title: </label>
                            <input class="form-control mb-2 mt-2" id="InputSurveyTitle" placeholder="Enter title">
                        </div>
                            </div>
                    </div>
                    <div>
                        <div>
                            <div class="form-check m-2">
                                <input class="form-check-input" type="radio" name="radio" id="Anonymous" value="1">
                                <label class="form-check-label" for="Anonymous">
                                    Anonymous
                                </label>
                            </div>
                            <div class="form-check m-2">
                                <input class="form-check-input" type="radio" name="radio" id="Public" value="0">
                                <label class="form-check-label" for="Public">
                                    Public
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveSurvey()">Save survey</button>
            </div>
        </div>
    </div>
</div>
<div class="text-danger small" asp-validation-summary="ModelOnly"></div>
<div>
    <div class="m-5">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
                <thead class="thead-dark">
                <tr class="price-sorting type-regular">
                    <th scope="col">
                        <span>Title</span>
                        <svg id="userNameFilterItemSvg" onclick="sortByUserName()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="user-grid custom-scroll">
                @foreach (var survey in Model)
                {
                    <tr id="survey">
                        <td class="survey-title">@survey.Title</td>
                        <td>
                            @Html.Hidden("id", survey.Id)
                            <label onclick="deleteSurvey(@survey.Id)" for="" style="cursor: pointer">
                                <input type="submit" style="visibility: hidden" id="">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </label>
                            <a asp-action="SurveySettings" asp-controller="Survey" asp-route-id=@survey.Id>
                                <label for="@survey.Id" style="cursor: pointer">
                                    <input type="submit" style="visibility: hidden" id="@survey.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                    </svg>
                                </label>
                            </a>
                            <a class="m-1" asp-controller="Survey" asp-action="DisplaySurveyStatistics" asp-route-id=@survey.Id>
                                <label for="@survey.Id" style="cursor: pointer">
                                    <button class="btn btn-outline-dark" type="submit" id="@survey.Id">Statistic</button>
                                </label>
                            </a>
                            <div class="m-1">
                                <a asp-controller="SurveyApi" asp-action="DownloadFile" asp-route-id="@survey.Id">
                                    <input class="btn btn-secondary btn-sm" type="submit" value="Download info about survey">
                                </a>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <tfotter>
            <span>Count of users: </span>@Model.Count
        </tfotter>
    </div>
</div>