@using ItechArt.Survey.WebApp.ViewModels

@model List<UserViewModel>

@section Script
{
    <script src="~/js/UserFiltration.js"></script>
}

@section Style{
    <link rel="stylesheet" href="~/css/ArrowRotate.css">
}

<div class="text-center display-4">
    Users
</div>
<div class="text-danger small" asp-validation-summary="ModelOnly"></div>
<div>
    <div class="m-5">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
                <thead class="thead-dark">
                <tr class="price-sorting type-regular">
                    <th scope="col">
                        <span>Username</span>
                        <svg id="userNameFilterItemSvg" onclick="sortByUserName()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </th>
                    <th scope="col">Email</th>
                    <th scope="col">
                        <span>Registration date</span>
                        <svg id="regDateSvg" onclick="sortByRegDate()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </th>
                    <th scope="col">
                        <span>Number of surveys</span>
                        <svg id="numOfSurveySvg" onclick="sortByNumOfSurvey()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="user-grid custom-scroll">
                @foreach (var user in Model)
                {
                    var date = String.Join("-", user.RegistrationDate.Date.ToString().Split(" ")[0].Split(".").Reverse());
                    var regDateTime = date + "T" + user.RegistrationDate.ToString("hh:mm:ss");
                    var submitFormUserIdString = $"submitForm{user.Id}";
                    var userName = $"{user.UserName}";
                    var countOfSurvey = $"{user.CountSurveys}";

                    <tr id="user" data-username=@userName data-regdate=@regDateTime data-countofsurvey=@countOfSurvey>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.RegistrationDate</td>
                        <td>@user.CountSurveys</td>
                        <td>
                            <form asp-controller="UserManagement" asp-action="DeleteUser" method="post">
                                @Html.Hidden("id", user.Id)
                                <label for=@submitFormUserIdString style="cursor: pointer">
                                    <input type="submit" style="visibility: hidden" id=@submitFormUserIdString>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </label>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <tfotter>
            <span>Count of users: </span>@Model.Count
        </tfotter>
    </div>
</div>